body {
    font-family: Arial, sans-serif;
    background-color: #0ef;
}

#editor-container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid black;
    min-height: 300px;
    padding: 10px;
    background-color: black;
}

#editor {
    width: 100%;
    height: 100%;
    outline: none;
    overflow-y: auto;
    color: yellow ;
    cursor: pointer;
}

#toolbar {
    margin-bottom: 10px;
}

button {
    margin-right: 5px;
    cursor: pointer;
    background-color:lightpink;
    font-style: oblique;
    color: blue ;
    font-size: large;
}
